# OpenShift Configuration
VITE_OPENSHIFT_API_URL=https://api.rm3.7wse.p1.openshiftapps.com:6443
VITE_OPENSHIFT_TOKEN=your_token_here

# Backend API URL
# Local development: http://localhost:8000
# Production:        https://your-backend-domain.com
VITE_BACKEND_API_URL=http://localhost:8000

# Environment (development / production)
VITE_ENV=development
